body {
    font-family: sans-serif;
    font-size: 18px;
    color:whitesmoke;
    background-image: linear-gradient(to right, rgb(77, 76, 76), red, red, rgb(77, 76, 76));
    text-align: center;
}
nav a{
    color: black;
    background-color: aqua;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px darkcyan;
}
img {
    width: 300px;
    border-radius: 10px;
    transition: width 1s;
}
img:hover{
    width: 600px;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
border-width: 10px;
border-style: solid;
border-radius: 10px;
    
}
nav a:focus{
    box-shadow:5px 5px 5px 0px darkcyan,inset 10px 10px 10px 0px darkcyan;
    top: 10px;
}
p:hover{
    font-size: 30px;
}

